@model FinalProject.Models.User

@using (Html.BeginForm())
{
    <div class="container">
        <h2>Login</h2>
        <div class="row">
            <div class="col-lg-4">


                <form class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <span>Email:</span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <span>Password:</span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
                <h3 style="color:red;">@TempData["msg"]</h3>

            </div>

        </div>

    </div>
}

