@model FinalProject.Models.User

@using (Html.BeginForm())
{
    <h2>Register</h2>
    <form>
        <div>
            <span>Name:</span>
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            <span>Email:</span>
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div>
            <span>Password:</span>
            @Html.PasswordFor(m => m.Password)
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
    <h3 style="color:red;">@TempData["msg"]</h3>
}
